.DS_Store
.vscode/

build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/

.build/
.swiftpm/

.env
.env.*
*.p12
*.cer
*.mobileprovision
*.xccheckout
